* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

.banner {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #000000 50%, #57B8FF 50%) cover no-repeat;
}

.split {
    height: 1069px;
    width: 50%;
    position: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.left { 
    left: 0;
    background-color: #000000;
}

.right {
    right: 0;
    background-color: #57B8FF;
}

.navbar {
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 171px;
    height: 49px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;

}

.navbar ul li a {
    text-decoration: none;
    color: #ffff;
}

.menu__span {
    color: #FAC422;
}

.navbar ul li a:hover {
    color: #FAC422;
    background-color: transparent;
    left: 0;
    bottom: 0;
}

.button {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    padding: 16px 31px;
    border: 1px solid #fff;
    transition: all .2s ease;
    text-decoration: none;
}

.hero {
    padding-top: 209px;
}

.hero__inner {
    padding-left: 185px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__left {
    width: 100%;
    max-width: 656px;
    position: relative;
}

.hero__social {
    width: 100%;
    max-width: 302px;
    display: flex;
    justify-content: space-between;
    transform: rotate(-90deg);
    position: absolute;
    top: 44%;
    left: -177px;
}

.hero__link a {
    font-size: 11px;
    line-height: 25px;
    text-transform: uppercase;
    transition: all 0.2s ease;
    color: #80858F;
}

.hero__link a:hover {
    color: #6f7279;
}

.suptitle {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #57b8ff;
}

.suptitle p {
    margin-left: 8px;
}

.hero__title {
    font-size: 72px;
    line-height: 86px;
    color: #fff;
    margin: 14px 0 45px;
}

.hero__title:after {
    content: "";
    width: 434px;
    height: 16px;
    background: url("../img/line.svg") no-repeat;
    position: absolute;
    right: 0;
    z-index: 2;
}

.hero__text {
    max-width: 615px;
}

.hero__footer {
    display: flex;
    align-items: center;
    margin-top: 53px;
    margin-bottom: 250px;
}

.hero__view {
    color: #fff;
    margin-left: 40px;
    text-decoration: none;
}

.hero__view:hover {
    text-decoration: underline;
}

.text {
    font-size: 18px;
    line-height: 28px;
    color: #999;
}

.btn {
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    background: #57b8ff;
    transition: all 0.2s ease;
    padding: 21px 34px;
    text-decoration: none;
}

.btn:hover {
    background: #43a2e6;
}

.hero__right {
    position: relative;
}
.content{
    width: 100%;
    height: 542px;
    background-color: #FDD04A;
}
.content__text {
    text-align: center;
    padding-top: 130px;
}
.content__subject {
    margin-top: 27px;
}
.content__features {
    display: block;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 130px;
}
.benefits{
    padding-left: 32px;
}
