* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

.banner {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #000000 50%, #57B8FF 50%) cover no-repeat;
}

.container {
    width: 100%;
    width: 1350px;
    margin: 0 auto;
}

header {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.88) 56%, #57B8FF 44%);
    padding: 20px 0 250px;
}

.navbar {
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 171px;
    height: 49px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;

}

.navbar ul li a {
    text-decoration: none;
    color: #ffff;
}

.menu__span {
    color: #FAC422;
}

.navbar ul li a:hover {
    color: #FAC422;
    background-color: transparent;
    left: 0;
    bottom: 0;
}

.button {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    padding: 16px 31px;
    border: 1px solid #fff;
    transition: all .2s ease;
    text-decoration: none;
}

.hero {
    padding-top: 209px;
}

.hero__inner {
    padding-left: 185px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__left {
    width: 100%;
    max-width: 656px;
    position: relative;
}

.hero__social {
    width: 100%;
    max-width: 302px;
    display: flex;
    justify-content: space-between;
    transform: rotate(-90deg);
    position: absolute;
    top: 44%;
    left: -177px;
}

.hero__link a {
    font-size: 11px;
    line-height: 25px;
    text-transform: uppercase;
    transition: all 0.2s ease;
    color: #80858F;
}

.hero__link a:hover {
    color: #6f7279;
}

.suptitle {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #57b8ff;
    margin-right: 480px;


}

.suptitle p {
    margin-left: 8px;
}

.hero__title {
    font-size: 72px;
    line-height: 86px;
    color: #fff;
    margin: 14px 0 45px;
}

.hero__title:after {
    content: "";
    width: 434px;
    height: 16px;
    background: url("../img/line.svg") no-repeat;
    position: absolute;
    right: 0;
    z-index: 2;
}

.hero__text {
    max-width: 615px;
}

.hero__footer {
    display: flex;
    align-items: center;
    margin-top: 53px;
    margin-bottom: 250px;
}

.hero__view {
    color: #fff;
    margin-left: 40px;
    text-decoration: none;
}

.hero__view:hover {
    text-decoration: underline;
}

.text {
    font-size: 18px;
    line-height: 28px;
    color: #999;
}

.btn {
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    background: #57b8ff;
    transition: all 0.2s ease;
    padding: 21px 34px;
    text-decoration: none;
}

.btn:hover {
    background: #43a2e6;
}

.hero__right {
    position: relative;
}

.content {
    width: 100%;
    height: 542px;
    background-color: #FDD04A;
}

.content__text {
    text-align: center;
    padding-top: 130px;
}

.content__subject {
    margin-top: 27px;
}

.content__features {
    display: block;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 130px;
}

.benefits {
    padding-left: 32px;
}

.shop {
    background: url('/images/future_bg.jpg') no-repeat center / cover;
    padding: 130px 0;
    max-height: 1300px;
}

.shop__header {
    width: 100%;
    max-width: 716px;
    text-align: center;
    margin: 0 auto;
}

.suptitle {
    justify-content: center;
}

.title {
    font-size: 64px;
    line-height: 74px;
    color: #fff;
}

.shop__title {
    margin: 12px auto 39px;
}

.shop__text {
    font-size: 20px;
    line-height: 32px;
    color: rgba(223, 223, 223, 0.8);
    margin-bottom: 60px;
}

.features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    align-items: center;
    margin-bottom: 130px;
}

.features__item {
    position: relative;
    transition: .5s ease-in-out;
    padding: 35px 36px 32px 80px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}

.features__title {
    font-size: 32px;
    line-height: 42px;
    color: #fff;
    position: relative;
    margin-bottom: 19px;
}

.features__title::after {
    content: '';
    width: 31px;
    height: 31px;
    background: url('../images/icons/star.svg') no-repeat;
    position: absolute;
    top: 0;
    left: -50px;
    z-index: 1;
}

.features__text {
    width: 100%;
    max-width: 470px;
    color: rgba(223, 223, 223, 0.8);
}

.epoch {
    padding: 130px 0;
    background: #000;
}

.epoch__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.epoch__left {
    width: 100%;
    max-width: 721px;
}

.epoch__title {
    margin-top: 12px;
}

.epoch__text {
    font-size: 20px;
    line-height: 30px;
    color: rgba(223, 223, 223, 0.8);
    margin: 38px 0 54px;
}

.epoch__right {
    width: 100%;
    height: 552px;
    max-width: 492px;
    position: relative;
    background: url('/images/gaming.png');
    transition: all .9s ease !important;
    border-radius: 70px;
}

.epoch__right:hover {
    box-shadow:
        0 0 40px 10px #fff,
        0 0 40px 20px #f0f,
        0 0 40px 10px #0ff;
    transform: translateY(10px);
}

.epoch__video {
    width: 128px;
    height: 128px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../images/video/cybersport.mp4') no-repeat;
    animation: ripple 1.5s linear infinite;
    transition: all 0.7s ease;
    border-radius: 50%;
}

.character {
    background: #2a313c;
    height: 696px;
}

.character__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.character__right {
    width: 100%;
    max-width: 596px;
}

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 30px;
    margin-top: 55px;
}

.slider__item {
    padding: 0;
    position: relative;
    transition: all .2s ease;
}

.slider img {
    height: 102px;
    max-width: 174px;
}

.character__title {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #57b8ff;
}

.epoch__title {
    margin-top: 12px;
    font-size: 64px;
    line-height: 74px;
    color: #fff;
}

.epoch__text {
    color: #DFDFDF;
    font-size: 20px;
    line-height: 30px;
    margin-top: 38px
}

.modes {
    width: 100%;
    height: 100%;
}

.modes__wrapper {
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    width: 1411px;
}

.card__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    width: 100%;
    max-width: 480px;
    height: 732px;
    background: url('/images/gaming_wrapper/1.png') no-repeat center;
    position: relative;
}

.card__item-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    width: 480px;
    height: 732px;
    background: url('/images/gaming_wrapper/2.png') no-repeat center;
    position: relative;
}

.card__item-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    width: 480px;
    background-color: #fff;
    background: url('/images/gaming_wrapper/3.png') no-repeat center;
    position: relative;
}

.card__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
}

.card__text {
    font-size: 48px;
    line-height: 58px;
    color: #fff;
    margin-top: 30px;
}

.news {
    padding: 130px 0;
    background: #000;
}

.news__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 64px;
}

.news__title {
    width: 100%;
    max-width: 571px;
    margin-top: 12px;
}

.articles__wrapper {
    display: flex;
    justify-content: space-between;
}

.articles {
    width: 100%;
    max-width: 648px;
    display: flex;
}

.big-article {
    width: 100%;
    max-width: 600px;
    position: relative;

}

.big-article__date {
    font-size: 18px;
    line-height: 18px;
    color: #57b8ff;
    margin: 54px 0 28px;
}

.big-article__text {
    font-size: 36px;
    line-height: 46px;
    color: #fff;
}

.articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 20px;
}

.article {
    width: 100%;
    height: 321px;
    max-width: 312px;
}

.article__date {
    font-size: 16px;
    line-height: 16px;
    color: #57b8ff;
    margin-top: 30px;
    margin: 30px 0 20px;
}

.article__text {
    font-size: 23px;
    line-height: 34px;
    color: #fff;
    margin-top: 20px;
}

.community {
    background: url(/images/community_img/community_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 683px;
}

.community__title {
    font-size: 72px;
    line-height: 82px;
    color: #000;
    position: relative;
    margin-bottom: 50px;
}

.community__text {
    color: #555;
    font-size: 17px;
    line-height: 28px;
}

.community-form {
    display: flex;
    align-items: center;
    max-width: 670px;
    margin: 45px auto 0;
}

.community-input {
    width: 67%;
    font-size: 18px;
    line-height: 28px;
    color: #555;
    background: #fff;
    border: 1px solid #ccc;
    padding: 26px 13px;
}

.community-btn {
    width: 32%;
    height: 81px;
    padding: 0;
}

.footer {
    padding: 130px 0 60px;
    background: #222730;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
}

.footer-info {
    width: 100%;
    max-width: 289px;
}

.footer__text {
    font-size: 15px;
    line-height: 25px;
    color: #999;

    margin-top: 35px;
}

.footer-nav {
    width: 100%;
    max-width: 168px;
    text-decoration: none;
}

.footer-nav__title {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 23px;
}

.footer-nav__link * {
    font-size: 15px;
    line-height: 37px;
    color: #999;
    text-decoration: none;
}

.hr__line{
    margin-top: 47px;
}
.copyright{
    text-align: center;
    margin-top: 48px;
}
.footer-social {
    width: 100%;
    max-width: 240px;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.icon__link {
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        color: #fff;
    }

    a {
        position: relative;
        display: block;
        width: 48px;
        height: 48px;

        font-size: 25px;
        line-height: 50px;
        text-align: center;

        background: #383d45;
        transition: all .3s ease;
        border-radius: 50%;
    }
        a::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: #ffee10;
            transition: all .3s ease;
            transform: scale(.9);
            z-index: -1;
        }

        a:hover:before {
            transform: scale(1.1);
            box-shadow: 0 0 20px #ffee10;
        }

        a:hover {
            color: #ffee10;
            box-shadow: 0 0 5px #ffee10;
            text-shadow: 0 0 5px #ffee10;
        }


@keyframes roll {
    0% {
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }

    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

.copyright {
    text-align: center;
}
.copyright::before {
        content: '';
        width: 100%;
        height: 1px;
        display: block;
        background: #3e3e3e;
        margin: 47px 0;
    }


.copyright__text {
    font-size: 14px;
    line-height: 18px;
    color: #898989;
}

/* Temporarily */
// .cards {
// 	display: none;
// }

/* --- Media --- */
@media screen and (max-width: 1270px) {
    .hero__inner {
        padding-left: 40px;
    }

    .hero__left {
        max-width: 540px;
    }

    .hero__title {
        font-size: 68px;
    }

    .hero__right,
    .hero__right img {
        width: 100%;
        max-width: 635px;
    }

    .epoch__left {
        max-width: 650px;
    }

    .big-article,
    .big-article img {
        max-width: 540px;
    }

    .big-article img {
        height: 450px;
    }
}

@media screen (max-width: 1200px) {
    .header {
        padding-bottom: 190px;
    }

    .hero {
        padding-top: 190px;
    }

    .hero__inner {
        padding-left: 35px;
    }

    .hero__left {
        max-width: 455px;
    }

    .hero__right,
    .hero__right img {
        max-width: 620px;
        float: right;
    }

    .sponsors__box {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px 92px;
    }

    .epoch__left {
        max-width: 495px;
    }

    .slick-slider {
        max-width: 400px;
    }

    .character__left {
        width: 100%;
        max-width: 523px;

    }

    .character__right {
        max-width: 480px;
    }

    .big-article {
        max-width: 648px;
        text-align: center;
    }

    .articles__wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px 0;
    }

    .footer {
        padding-top: 100px;
    }

    .footer__inner {
        padding: 0 40px;
        flex-wrap: wrap;
        gap: 20px;
    }
}

@media screen (max-width: 991px) {
    .header {
        padding-bottom: 130px;
    }

    .header__inner {
        flex-wrap: wrap;
        padding: 0 10px;
    }

    .contact {
        margin-top: 20px;
        margin-left: auto;
    }

    .hero {
        padding-top: 130px;
    }

    .hero__inner {
        flex-direction: column;
        align-items: flex-start;
        gap: 50px 0;
        padding: 0;
    }

    .hero__left {
        max-width: 665px;
        padding-left: 50px;
    }

    .hero__social {
        left: -130px;
    }

    .hero__text,
    .hero__view {
        text-shadow: 1px 1px 1px #000;
    }

    .hero__right {
        max-width: 660px;
        margin: 0 auto;
    }

    .sponsors__box {
        gap: 30px 72px;
    }

    .epoch__inner {
        flex-direction: column;
        gap: 60px 0;
    }

    .character {
        padding-bottom: 40px;
    }

    .character__inner {
        flex-direction: column;
        gap: 20px 0;
    }

    .character__right {
        max-width: 596px;
    }

    .slick-slider {
        max-width: inherit;
    }

    .community__title {
        font-size: 70px;
    }
}

@media screen (max-width: 767px) {
    .header {
        padding-top: 0;
        background: linear-gradient(to right, rgba(0, 0, 0, .88) 65%,
                #57b8ff 35%);
    }

    .header__inner {
        padding-top: 20px;
    }

    .contact {
        margin-top: 0;
    }

    .hero {
        z-index: -1;
    }

    .hero__left {
        max-width: 560px;
    }

    .hero__title {
        font-size: 66px;
    }

    .sponsors__title:after {
        right: 15%;
    }

    .sponsors__text {
        max-width: 522px;
    }

    .title {
        font-size: 60px;
    }

    .features__item {
        width: 100%;
        max-width: 546px;
        padding-right: 26px;
        padding-left: 70px;
    }

    .character {
        text-align: center;
    }

    .character__left {
        max-width: 455px;
    }

    .character__right {
        max-width: 540px;
    }

    .slider {
        margin: 0 auto;
        max-width: 410px;
    }

    .news {
        padding: 100px 0;
    }

    .news__header {
        flex-direction: column;
        align-items: flex-start;
    }

    .news__title {
        max-width: 465px;
        margin-bottom: 20px;
    }

    .big-article {
        max-width: 550px;
    }

    .articles {
        text-align: center;
        justify-content: center;
        gap: 50px 0;
    }

    .community__title {
        font-size: 59px;
    }

    .community__inner {
        max-width: 604px;
    }

    .community-form {
        justify-content: center;
    }

    .community-input {
        width: 60%;
    }

    .footer {
        padding-top: 60px;
    }

    .footer__inner {
        gap: 30px 0;
    }

    .footer-info {
        max-width: 350px;
    }
}

@media screen (max-width: 575px) {
    .header {
        background: linear-gradient(to right, rgba(0, 0, 0, .88) 72%, #57b8ff 28%);
    }

    .contact {
        margin-top: 20px;
    }

    .hero__footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px 0;
    }

    .hero__left {
        max-width: 400px;
        padding-left: 3px;
    }

    .hero__social {
        display: none;
    }

    .hero__view {
        margin-left: 1px;
    }

    .hero__title {
        font-size: 50px;
    }

    .sponsors {
        padding: 90px 0;
    }

    .sponsors__title:after {
        right: 12%;
    }

    .sponsors__box {
        gap: 30px 40px;
    }

    .shop {
        padding: 100px 0;
    }

    .title {
        font-size: 48px;
    }

    .shop__title {
        margin-bottom: 30px;
    }

    .features__item {
        padding-left: 60px;
        padding-right: 16px;
    }

    .epoch__left {
        max-width: 400px;
    }

    .epoch__right {
        display: none;
    }

    .character__left img {
        max-width: 314px;
    }

    .character__right {
        max-width: 418px;
    }

    .epoch__title {
        font-size: 42px;
        line-height: 68px;
    }

    .epoch__text {
        margin-top: 25px;
    }

    .slider {
        max-width: 187px;
    }

    .slick-prev {
        left: -32px;
    }

    .slick-next {
        right: -16px;
    }

    .big-article {
        max-width: 320px;
    }

    .big-article__text {
        font-size: 32px;
    }

    .title {
        font-size: 44px;
    }

    .btn {
        padding: 17px 26px;
    }

    .community {
        padding: 80px 0;
    }


    .community__inner {
        max-width: 408px;
    }

    .community-form {
        flex-direction: column;
        gap: 10px 0;
    }

    .community-input {
        width: 90%;
    }

    .community-btn {
        width: 50%;
        padding: 10px 15px;
    }
}